In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers.core import Dense,Activation,Dropout
from keras.layers import LSTM
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from keras.callbacks import EarlyStopping
import math
import os
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

hotel_details=pd.read_csv('drive/MyDrive/hotel/Hotel_details.csv',delimiter=',')
hotel_rooms=pd.read_csv('drive/MyDrive/hotel/Hotel_Room_attributes.csv',delimiter=',')
hotel_cost=pd.read_csv('drive/MyDrive/hotel/hotels_RoomPrice.csv',delimiter=',')

In [ ]:
hotel_details.head()

      id  hotelid  ...                                                url curr
0  46406  1771651  ...  https://www.booking.com/hotel/hr/bungalow-luxu...  EUR
1  46407   177167  ...  https://www.agoda.com/en-gb/hotel-polonia/hote...  EUR
2  46408  1771675  ...  http://www.booking.com/hotel/it/rifugio-sass-b...  EUR
3  46409   177168  ...  https://www.agoda.com/en-gb/madalena-hotel/hot...  EUR
4  46410  1771718  ...  http://www.booking.com/hotel/it/pension-morenf...  EUR

[5 rows x 14 columns]

In [ ]:
hotel_rooms.head()

         id  ...                                    ratedescription
0  50677497  ...       Room size: 15 m²/161 ft², Shower, 1 king bed
1  50672149  ...  Shower, Kitchenette, 2 bedrooms, 1 double bed ...
2  50643430  ...  Shower, Kitchenette, 2 bedrooms, 1 double bed ...
3  50650317  ...    Room size: 20 m²/215 ft², Shower, 3 single beds
4  50650318  ...    Room size: 20 m²/215 ft², Shower, 3 single beds

[5 rows x 5 columns]

In [ ]:
del hotel_details['id']
del hotel_rooms['id']
del hotel_details['zipcode']

hotel_details=hotel_details.dropna()    #滤除缺失数据
hotel_rooms=hotel_rooms.dropna()

hotel_details.drop_duplicates(subset='hotelid',keep=False,inplace=True)     #删除重复项
hotel=pd.merge(hotel_rooms,hotel_details,left_on='hotelcode',right_on='hotelid',how='inner')
hotel.columns

Index(['hotelcode', 'roomamenities', 'roomtype', 'ratedescription', 'hotelid',
       'hotelname', 'address', 'city', 'country', 'propertytype', 'starrating',
       'latitude', 'longitude', 'Source', 'url', 'curr'],
      dtype='object')

In [ ]:
del hotel['hotelid']
del hotel['url']
del hotel['curr']
del hotel['Source']
hotel.columns

Index(['hotelcode', 'roomamenities', 'roomtype', 'ratedescription',
       'hotelname', 'address', 'city', 'country', 'propertytype', 'starrating',
       'latitude', 'longitude'],
      dtype='object')

In [ ]:
#Recommender system based only on City and ratings about the hotel

def citybased(city):
    hotel['city']=hotel['city'].str.lower()
    citybase=hotel[hotel['city']==city.lower()]
    citybase=citybase.sort_values(by='starrating',ascending=False)
    citybase.drop_duplicates(subset='hotelcode',keep='first',inplace=True)
    if(citybase.empty==0):
        hname=citybase[['hotelname','starrating','address','roomamenities','ratedescription']]
        return hname.head()
    else:
        print('No Hotels Available')
        
print('Top 5 hotels')
citybased('London')

Top 5 hotels

                                  hotelname  ...                                    ratedescription
48985            The Colonnade London Hotel  ...  Room size: 28 m²/301 ft², Balcony/terrace, Non...
58663    South Point Suites - London Bridge  ...  Room size: 24 m²/258 ft², Street view, Non-smo...
106943  Doubletree by Hilton London Chelsea  ...  Room size: 20 m²/215 ft², Street view, Non-smo...
57452      Sir Christopher Wren Hotel & Spa  ...  Room size: 25 m²/269 ft², Non-smoking, Shower ...
92479              The Manor Hotel Heathrow  ...                   Shower and bathtub, 1 double bed

[5 rows x 5 columns]

In [ ]:
##没用我觉得
room_no=[('king',2),('queen',2), ('triple',3),('master',3),('family',4),('murphy',2),('quad',4),('double-double',4),('mini',2),
   ('studio',1),('junior',2),('apartment',4),('double',2),('twin',2),('double-twin',4),('single',1),('diabled',1),('accessible',1),
    ('suite',2),('one',2)]

def calc():
    guests_no=[]
    for i in range(hotel.shape[0]):
        temp=hotel['roomtype'][i].lower().split()
        flag=0
        for j in range(len(temp)):
            for k in range(len(room_no)):
                if temp[j]==room_no[k][0]:
                    guests_no.append(room_no[k][1])
                    flag=1
                    break
            if flag==1:
                break
        if flag==0:
            guests_no.append(2)
    hotel['guests_no']=guests_no

calc()

In [ ]:
def pop_citybased(city,number):
    hotel['city']=hotel['city'].str.lower()
    popbased=hotel[hotel['city']==city.lower()]
    popbased=popbased[popbased['guests_no']==number].sort_values(by='starrating',ascending=False)
    popbased.drop_duplicates(subset='hotelcode',keep='first',inplace=True)
    if popbased.empty==True:
        print('Sorry No Hotels Available\n tune your constraints')
    else:
        return popbased[['hotelname','roomtype','guests_no','starrating','address','roomamenities','ratedescription']].head(10)

pop_citybased('London',4)

                                             hotelname  ...                                    ratedescription
1440                  Holiday Inn London - Heathrow T5  ...  Room size: 25 m²/269 ft², Non-smoking, Separat...
53496                   Mercure London Hyde Park Hotel  ...  Room size: 31 m²/334 ft², Non-smoking, 1 singl...
60734     Hallmark Hotel London Chigwell Prince Regent  ...      Non-smoking, Shower and bathtub, 1 double bed
107246  Radisson Blu Edwardian Kenilworth - Bloomsbury  ...  Room size: 20 m²/215 ft², Non-smoking, Shower ...
55913                              Acorn Lodge Gatwick  ...                Shower, 1 double bed and 1 bunk bed
64171                          Gatwick Cambridge Hotel  ...  Room size: 15 m²/161 ft², Non-smoking, Shower ...
96611                             Trumbles Gatwick B&B  ...  Room size: 18 m²/194 ft², Shower and bathtub, ...
97400                  Heathrow/Windsor Marriott Hotel  ...  Room size: 30 m²/323 ft², Non-smoking, Shower ...
65811                            Atrium Hotel Heathrow  ...  Room size: 28 m²/301 ft², Shower, 2 single bed...
112259                  The Level at Melia White House  ...  Shower and bathtub, Executive lounge access, 1...

[10 rows x 7 columns]

In [ ]:
#Requirement And special needs based Recommender

import nltk
nltk.download('stopwords')
nltk.download('wordnet')

hotel['roomamenities']=hotel['roomamenities'].str.replace(': ;',',')
def requirementbased(city,number,features):
    hotel['city']=hotel['city'].str.lower()
    hotel['roomamenities']=hotel['roomamenities'].str.lower()
    features=features.lower()
    features_tokens=word_tokenize(features)  
    sw = stopwords.words('english')
    lemm = WordNetLemmatizer()
    f1_set = {w for w in features_tokens if not w in sw}
    f_set=set()
    for se in f1_set:
        f_set.add(lemm.lemmatize(se))
    reqbased=hotel[hotel['city']==city.lower()]
    reqbased=reqbased[reqbased['guests_no']==number]
    reqbased=reqbased.set_index(np.arange(reqbased.shape[0]))
    l1 =[];l2 =[];cos=[];
    #print(reqbased['roomamenities'])
    for i in range(reqbased.shape[0]):
        temp_tokens=word_tokenize(reqbased['roomamenities'][i])
        temp1_set={w for w in temp_tokens if not w in sw}
        temp_set=set()
        for se in temp1_set:
            temp_set.add(lemm.lemmatize(se))
        rvector = temp_set.intersection(f_set)
        #print(rvector)
        cos.append(len(rvector))
    reqbased['similarity']=cos
    reqbased=reqbased.sort_values(by='similarity',ascending=False)
    reqbased.drop_duplicates(subset='hotelcode',keep='first',inplace=True)
    return reqbased[['hotelname','roomtype','guests_no','starrating','address','roomamenities','ratedescription','similarity']].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
requirementbased('London',1,'I need a extra toilet and room should be completely air conditioned.')

                                hotelname  ... similarity
309            The Colonnade London Hotel  ...          3
927                   The Cleveland Hotel  ...          3
286               Best Western Palm Hotel  ...          3
77                     Little Foxes Hotel  ...          3
1092  Holiday Inn London - Heathrow Ariel  ...          3
88                    Belgrave Hotel Oval  ...          3
793        Holiday Inn Express Park Royal  ...          3
407    South Point Suites - London Bridge  ...          3
816           Simply Rooms & Suites Hotel  ...          3
729           Hilton London Olympia Hotel  ...          3

[10 rows x 8 columns]